/*Selector global*/
*{
	padding: 0;
	margin:0;
	text-align: center;
}
body{
	background-color: #3E52A9;
	color: #fff;
}
main{
	height: 500px;
	width: 100%;
	background-color: #7095EA;

	
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	justify-content: center;
	align-items: center;
}
main img{
	height: 300px;
	width: 300px;
	border-radius: 200px;
	border: 5px solid;
}
nav li{
	display: inline-block;
	color: #000000;
	height: 50px;
	width: 100px;
	margin: 50px;
	background-color: #E8E8E8;
	border-radius: 20px;
	line-height: 50px;
}