/*Selector global*/
*{
	padding: 0;
	margin:0;
	text-align: center;
}
body{
	background-color: #0C2079;
	color: #fff;
}
main{
	height: 500px;
	width: 100%;
	/*background-color: #0A2970;*/

	
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	justify-content: center;
	align-items: center;
}
main img{
	height: 300px;
	width: 300px;
	border-radius: 200px;
	border: 5px solid;
}
nav li{
	display: inline-block;
	color: #fff;
	height: 50px;
	width: 190px;
	margin: 20px;
	background: #000000;
	border-radius: 0px;
	line-height: 50px;
	box-shadow: 0px 5px 2px #fff;
	font-family: sans-serif;
	font-weight: bold;
	letter-spacing: 2px;
}
nav li:hover{
	box-shadow: 0px 2px 2px #fff;
}
nav a li:active{
	box-shadow: 0px 0px 0px #fff;	
}